<!--
  Generated template for the TakeoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content padding>

   <div style="width: 100%; height: 54px;">
      <div *ngFor="let date of datesList" class="date-list" [ngClass]="{'active-date': isDateActive(date.dateString)}">
         <div style="width: 100%; height: 100%;" (click)="getTimeSlots(date.dateString)">
            <div style="width: 100%; height: 50%; background: goldenrod; padding-top: 5px;">{{ date.dayName}}</div>
            <div style="width: 100%; height: 50%; background: rgba(225, 162, 2, 0.72); padding-top: 5px;">{{ date.date}}</div>
         </div>
      </div>
   </div>
   <ion-item>
      <ion-label>Time</ion-label>
      <ion-select [(ngModel)]="selectedTime" [interface]="popover" [disabled]="!selectedDate" (ngModelChange)="selectTime($event)">
         <ion-option *ngFor="let timeSlote of timeSlotes" [value]="timeSlote.slot">{{ timeSlote.timeString }}</ion-option>
      </ion-select>
   </ion-item>

   <!-- <div class="takeout-block">
      <div style="width: 100%; height: 30px; margin-top: 10px;">
         <div style="float: left;">
            <p class=thead>TIME OF TAKEOUT </p>
         </div>
         <div style="float: right;">
            <span class="thead-change">Change</span>
         </div>
      </div>
   </div> -->

   <div class="your-order-block">
      <div style="width: 100%; height: 30px; margin-top: 10px;">
         <div style="float: left;">
            <p class="thead">YOUR ORDER </p>
         </div>
         <div style="float: right;" (click)="addMoreitems()">
            <span class="thead-add">Add more items</span>
         </div>
      </div>

      <div *ngFor="let item of allOrders; let orderIndex = index;" (click)="editItem($event, item)">
         <div style="width: 100%;">
            <div style="width: 100%; height: 35px;">
               <div style="float: left; width: calc(100% - 80px);">
                  {{ item.item_name }}
               </div>
               <div style="float: right; width: 80px;">
                  <div style="width: 40px; float: left; color: rgb(165, 165, 165);">
                     {{ item.quantity }}
                     <ion-icon style="color: #a17810;" name="trash" (click)="removeMainItem($event, item, orderIndex)"></ion-icon>
                  </div>
                  <div style="width: 40px; float: right; text-align: right;">
                     {{ item.totalAmount }}$
                  </div>
               </div>
            </div>

            <div *ngIf="item.extraInfo" style=" width: calc(100% - 60px); font-size: 10px; padding-left: 8px; height: 25px; overflow: hidden;">{{ item.extraInfo }}</div>

            <div *ngFor="let addOn of item.addOns; let addOnIndex = index;" style="width: 100%; height: 35px; margin-bottom: 5px; padding-left: 10px;">
               <div style="float: left; width: calc(100% - 80px);">
                  + {{ addOn.name }}
               </div>
               <div style="float: right; width: 80px;">
                  <div style="width: 40px; float: left; color: rgb(165, 165, 165);">
                     {{ item.quantity }}
                     <ion-icon style="color: #a17810;" name="trash" (click)="removeAddOnItem($event, item, orderIndex, addOnIndex)"></ion-icon>
                  </div>
                  <div style="width: 40px; float: right; text-align: right;">
                     {{ addOn.totalPrice }}$
                  </div>
               </div>
            </div>
         </div>
      </div>
      <hr style="height: 2px;">
      <p class="item-block"><span>Subtotal</span> <span>{{ totalBil }}$</span> </p>
      <p class="item-block"><span>TAX</span> <span> 0</span> </p>

      <p class="item-block"><span>TOTAL</span> <span>{{ totalBil }}$</span> </p>
   </div>

</ion-content>