page-SelectRestaurant{

   ion-content.sel-rest-content.content.content-md .scroll-content {
    padding: 0 6%;
}
   ion-content.sel-rest-content.content.content-md {
    top: 22px;
    padding: 0 7%;
    margin: 0 auto;
}
   .rest-button-out {
    margin-bottom: 6%;
}
}
