 <ion-header>
  <ion-navbar ion-navbar color="orangee">
    <ion-title>
       Gallary
       <div style="float:right"  (click)="closeModal()"> 
      <ion-icon ios="ios-backspace" md="md-backspace"></ion-icon>
      </div>
    </ion-title>
       
  </ion-navbar>
</ion-header>

<ion-content>
 

 
    <ion-grid>
  <ion-row >
     
    <ion-col col-4 *ngFor ="let gal of gallary;let ind = index" >
       
       
       <img  *ngIf="ind<15" [src]=" baseuri +gal.image" (click)="openslidegal(ind)">        
        
         <!-- <img  [src]=" baseuri +gal.image">   -->
    </ion-col>
    

     </ion-row>
 
</ion-grid>
 

</ion-content> 
