payment-page {


   .cred-block * , .cod-block {
    display: inline-block;
    margin-right: 6%;
}
   .cred-block {
    width: 100%;
    padding: 5% 4%;
}
   .cod-block{
     width: 100%;
    padding: 5% 4%; 
   }
}
