page-profile {

.propic {
    width: 100%;
    text-align: center;
    /* background: blue; */

     img {
    width: 35%;
    /* background: red; */
    border-radius: 50%;
    /* padding: 6% 6%; */
}
}

}
