<ion-header>
   <ion-navbar ion-navbar color="orangee">
      <ion-title>
         {{ title }}
      </ion-title>
      <ion-buttons item-right right end>
         <button (click)="closeModal()">
            <ion-icon ios="ios-backspace" md="md-backspace"></ion-icon>
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content>
   <div style="height: 100%; width: 100%; padding: 0 10px;">
   <ion-card style="margin: 10px 0; width: 100%;">
      <ion-card-content>
         <div style="width: 100%; height: 30px;">
            <div style="float: left; font-size: 17px;">
               <b>{{selectedDish.item_name}}</b>
            </div>
            <div style="float: right">
               {{selectedDish.prices[0].value || 0.0}}$
            </div>
         </div>
         <p>{{selectedDish.item_desc}}</p>
      </ion-card-content>

   </ion-card>

   <img [src]="baseurl+selectedDish.item_image_url">
   <ion-list>
      <em>E.g. extra cheese, sauce on the side etc. Any additional charges will be directly charged to your credit card.
                  <span>And remember to inform the restaurant of all dietary restrictions and food allergies in the box below.</span></em>
   </ion-list>


   <div *ngIf="addons">
      <!-- <ion-list> -->
      <div *ngFor="let item of addons">
         <h3 style="font-size: 18px;">{{ item.name }}</h3>
         <ion-list *ngIf="item.selection_type == 1">
            <ion-item *ngFor="let option of item.options">
               
               <ion-checkbox
                  item-right end
                  [checked]="option.checked"
                  (ionChange)="ionChange(item, option, $event.checked)"
                  [disabled]="isAddOnDisabled(item, option)"
               >
               </ion-checkbox>
               <ion-label>
                  {{ option.name }} - <b>${{ option.price }}</b>
               </ion-label>
            
            </ion-item>
         </ion-list>
         <ion-list *ngIf="item.selection_type == 0" radio-group>
            <ion-item *ngFor="let option of item.options">
               <ion-radio
                  [checked]="option.checked"
                  [value]="option"
                  (ionSelect)="ionSelect(item, option)"
               >
               </ion-radio>
               <ion-label>
                  {{ option.name }} - <b>${{ option.price }}</b>
               </ion-label>
            </ion-item>
         </ion-list>
      </div>

   </div>

   <textarea [(ngModel)]="extraInfo" style="width:100%; resize: none; height: 50px; border-radius: 3px; box-shadow: 0px 0px 2px 0px;" placeholder="Enter extra info"></textarea>

   <ion-row>
      <ion-col>
         <button (click)="removeQuantity()" [disabled]="dishQuantity <= 1" ion-button icon-left clear small style="background: rgba(128, 128, 128, 0.37);">
            <ion-icon ios="ios-remove" md="md-remove" style="color: black;"></ion-icon>
         </button>
      </ion-col>
      <ion-col>
         <button ion-button icon-left clear small style="color: black;">
            <b>{{dishQuantity}}</b>
         </button>
      </ion-col>
      <ion-col>
         <button (click)="addQuantity()" ion-button icon-left clear small style="background: rgba(128, 128, 128, 0.37);">
            <ion-icon ios="ios-add" md="md-add" style="color: black;"></ion-icon>
         </button>
      </ion-col>
      <ion-col center text-center>
         <button ion-button icon-left clear small style="color: black;">
            {{selectedDish.prices[0].value}}$
         </button>
      </ion-col>
      <ion-col center text-center>
         <button ion-button icon-left clear small style="color: black;">
            {{ selectedDish.prices[0].value  * dishQuantity  }}$
         </button>
      </ion-col>
   </ion-row>

   <button [disabled]="dishQuantity <= 0" (click)="addToOrder()" ion-button full color="light" *ngIf="!isEditMode"> Add To Order </button>
   <button [disabled]="dishQuantity <= 0" (click)="updateOrder()" ion-button full color="light" *ngIf="isEditMode"> Update </button>


   </div>


</ion-content>