<ion-header>
  <ion-navbar ion-navbar color="orangee">
    <ion-title>
      <!-- <button ion-button block (click)="closeModal()">Close</button> -->
      <div style="float:right" (click)="closeModal()">
        <ion-icon ios="ios-backspace" md="md-backspace"></ion-icon>
      </div>
      addtocard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-card>

    <ion-item>
      <!-- <ion-avatar item-start>
      <img src="{{baseurl+dishorder.item_image_url}}">
    </ion-avatar> -->
      <h2>{{dishorder.item_name}}</h2>

    </ion-item>



    <ion-card-content>
      <p>{{dishorder.item_desc}}</p>
      <p>{{dishorder.prices[0].value}}</p>

    </ion-card-content>



    <img src="{{baseurl+dishorder.item_image_url}}">
    <ion-list>
      <em>E.g. extra cheese, sauce on the side etc. Any additional charges will be directly charged to your credit card.
                  <span>And remember to inform the restaurant of all dietary restrictions and food allergies in the box below.</span></em>
    </ion-list>


    <div *ngIf="addons">
      <!-- <ion-list> -->
      <div *ngFor="let item of addons">
        <h2>{{ item.name }}</h2>
        <ion-list *ngIf="item.selection_type == 1">
          <ion-item *ngFor="let option of item.options">
            <ion-label>
              {{ option.name }}
            </ion-label>
            <ion-checkbox (ionChange)="ionChange(item.name, option, $event.checked)"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="item.selection_type == 0" radio-group>
          <ion-item *ngFor="let option of item.options">
            <ion-label>
              {{ option.name }}
            </ion-label>
            <ion-radio [value]="option" (ionSelect)="ionSelect(item.name, option)"></ion-radio>
          </ion-item>
        </ion-list>
      </div>

    </div>
    <button type="submit">Submit</button>


    <p>Form value: {{ addonsGroup.value | json }}</p>

    <textarea [(ngModel)]="extraInfo" style="width:100%" placeholder="Enter extra info"></textarea>

    <ion-row>
      <ion-col>
        <button (click)="removequantity()" ion-button icon-left clear small>
      <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
       </button>
      </ion-col>
      <ion-col>

        <div> {{totalctr}} </div>

      </ion-col>
      <ion-col>
        <button (click)="addquantity(dishorder)" ion-button icon-left clear small>
         <ion-icon ios="ios-add" md="md-add"></ion-icon>

        <!-- <div>+</div> -->
      </button>
      </ion-col>
      <ion-col center text-center>

        <span>  {{dishorder.prices[0].value}}$ </span>

      </ion-col>
      <ion-col center text-center>
        <span>  {{ dishorder.prices[0].value  * totalctr  }} $ </span>
      </ion-col>
    </ion-row>

    <button (click)="addToOrder(totalctr)" ion-button full color="light"> Add To Order </button>



  </ion-card>

</ion-content>
