selectycity{

   ion-content.sel-city-content.content.content-md .scroll-content {
    padding: 0 6%;
    top: 13%;
}
   ion-content.sel-city-content.content {
    
    padding: 0 7%;
    margin: 0 auto;
}
}
