page-intro {
 ion-slide {
      background-color: #7986cb;
    }
 
    // ion-slide img {
    //   height: 70vh !important;
    //   width: auto !important;
    // }

    .slide-zoom img {
    width: 240px !important;
    height: 240px !important;
}
 
  }

