page-gallarydetails {


    .prev-button {
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 99999;
}

.nxt-button{
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 99999;
}

.swiper-slide{
    background: #000;
}

.prev-button ion-icon {
    font-size: 2.3em;
    color: #fff;
    text-shadow: black;
}
.nxt-button ion-icon {
    font-size: 2.3em;
    color: #fff;
    text-shadow: black;
}
}
