<ion-header>

  <ion-navbar color=light>
    <ion-title> Reset Password</ion-title>
     <span class="right-top"> </span>
   </ion-navbar>

</ion-header>
<!-- <div class="backg"></div> -->

<ion-content padding>


  
  <p style="text-align:left ; font-weight:bold">Oh no , You Forgot Your Password ?</p>
  
  <hr>
  <p style="text-align:left"> We'll start looking for it , just enter the email address you 
     to register and we'll send it , or a temporary one away so you can reset your Password
     and get back into MunchAdo
  </p>

   <form  form [formGroup]="forgotGrp" (ngSubmit)="forgotForm()" novalidate >
  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input 
      formControlName="forgotEmail"
      
      type="text"
      required></ion-input>
    
  
   </ion-item>
   <!-- <div class="validation-txt" *ngIf="wrongcred">This does'n look like email we have seen</div> -->
   <div class="validation-txt" *ngIf="forgotEmail.errors.required && (forgotEmail.touched) ">
      You forgot something</div>  
     <div class="validation-txt" *ngIf="forgotEmail.errors.email && (forgotEmail.touched) && !forgotEmail.errors.required  ">
      Please Enter a Valid email</div>      
  <div class="validation-txt" *ngIf="validForgot">Please enter a valid email</div>
  
  

  <button type="submit" class="btn-paddingall" ion-button block color="login_bg" >
    <!--<ion-icon name="logo-facebook"></ion-icon>-->
    Submit
  </button>

  </ion-list>
   </form>

</ion-content>
