page-delivery {

}

.delivery-ion-input {
   font-size: 15px;
}

.label-md[stacked] {
   font-size: 16px;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
   color: #773d3d;
}

.label-ios[stacked] {
   font-size: 16px;
}
.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
   color: #773d3d;
}